<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>
	
	<div id="content">
		<h1>It's Mlog </h1>
		<p>A good webstie to make everyone can post anything you want! Hope you guy love it! </>
	</div>

</div>